
@{
    ViewData["Title"] = "Component";
}
<script src="/lib/Vue/vue.js"></script>
<h1>Component</h1>

<div id="components-demo1">
    <button-counter></button-counter>
</div>

<script type="text/javascript">
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })
    var app1 = new Vue({ el: '#components-demo1' });
</script>

<div id="components-demo2">
    <blog-post title="Vue"></blog-post>
</div>

<script type="text/javascript">
    Vue.component('blog-post', {
      props: ['title'],
      template: '<h3>{{ title }}</h3>'
    })
    var app2 = new Vue({el:'#components-demo2'})
</script>

<div id="components-demo3">
    <blog-post v-for="post in posts"
               v-bind:key="post.id"
               v-bind:post="post"
               v-on:enlarge-text="postFontSize += 0.1">
    </blog-post>
</div>

<script>
    Vue.component('blog-post', {
      props: ['post'],
      template: `
        <div class="blog-post">
          <label style="display:block;fontSize: {{postFontSize}} + 'em'">{{ post.title }}</label>
          <button v-on:click="$emit('enlarge-text')">
            Enlarge text
          </button>
          <div v-html="post.content"></div>
        </div>
      `
    })
    var app3 = new Vue({
        el: '#components-demo3',
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue',content:'xxxxx' }
            ],
            postFontSize: 1
        }
    })
</script>