@{
    ViewData["Title"] = "Index";
}
<script src="/lib/Vue/vue.js"></script>
<style>
    .RedBorder {
        border:solid 1px red;
    }
</style>
<h1>Hello Vue</h1>
<div id="app-1">
    <ol>
        <todo-item v-for="item in groceryList"
                   v-bind:todo="item"
                   v-bind:key="item.id"></todo-item>
    </ol>
</div>

<div id="app-2">
    <p v-bind:class="{RedBorder}">Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>

<div id="app-3">
    <p>Computed：{{ ComputedNow }}</p>
    <p>Methods：{{ MethodsNow() }}</p>
</div>

<script type="text/javascript">
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{ todo.text }}</li>'
    })
    var app1=new Vue({
        el:"#app-1",
        data:{
            groceryList:[
                {id:0,text:"蔬菜1"},
                {id:1,text:"蔬菜2"},
                {id:3,text:"蔬菜3"}
            ]
        }
    })
    var app2 = new Vue({
      el: '#app-2',
      data: {
          message: 'Hello',
          RedBorder:"RedBorder"
        },
      computed: {
        // 计算属性的 getter
        reversedMessage: function () {
          // `this` 指向 vm 实例
          return this.message.split('').reverse().join('')
        }
      }
    })
    var app3 = new Vue({
        el: "#app-3",
        computed: {
            ComputedNow: function () {
                return Date.now();
            }
        },
        methods: {
            MethodsNow: function () {
                return Date.now();
            }
        }
    })
</script>